.directory
face_recognition/nconst_scraper/node_modules
face_recognition/db_actor_filter/env
website/env
website/__pycache__
website/.vscode
website/routes.pyc
full/
face_detection/env
.vscode/
face_recognition/actor_scraper/faces
face_recognition/actor_scraper/env
face_recognition/face_recognition/faces
face_recognition/face_recognition/
face_recognition/image_scraper/env
face_recognition/actor_scraper/node_modules
.DS_Store
