.directory
facial_recognition/nconst_scraper/node_modules
facial_recognition/db_actor_filter/env
website/env
website/__pycache__
website/.vscode
website/routes.pyc
full/
face_detection/env
.vscode/
facial_recognition/actor_scraper/actors
facial_recognition/actor_scraper/env
