asn1crypto==0.24.0
BeautifulSoup==3.2.1
cryptography==2.1.4
enum34==1.1.6
fonttools==3.43.2
gyp==0.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Pillow==6.1.0
psycopg2==2.7.4
psycopg2-binary==2.8.3
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
