/* HTML */

:root {
  --white: #F7FAFC !important;
  --light: #F7FAFC !important;
  --dark: #2d3748 !important;
  --teal: #4FD1C5 !important;
  --primary: #4FD1C5 !important;
  --font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Body */

.teal h3{
  color: #4FD1C5;
}


body {
  background-color: var(--white);
  color: var(--dark);
  font-family: var(--font-family-sans-serif);
  font-weight: 500;
}


/* Angles */

.angle-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3vw;
  fill: var(--light);
}

.angle-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3vw;
  fill: var(--light);
}

/* Backgrounds */

.bg-dark {
  background-color: var(--dark);
}

/* Buttons */

.btn {
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--teal);
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background-color: rgb(59, 187, 174);
}

/* Containers */

.content {
  padding-top: 78px;
}

.container {
  padding-top: 10px;
}

.container-wide {
  max-width: 1440px !important;
}

.container-thin {
  max-width: 960px !important;
}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

p,
span,
li {
  font-size: 1.2rem;
}

/* Hairline */

.hr-dotted {
  padding-top: 4px;
  padding-bottom: 16px;
  border: 0;
  width: 100%;
}

.hr-dotted:before {
  content: "";
  display: block;
  border-top: 2px dotted var(--dark);
}

.hr-dotted:after {
  content: "";
  display: block;
  margin-top: 4px;
  padding-top: 4px;
  border-top: 2px dotted var(--dark);
  border-bottom: 2px dotted var(--dark);
}

/* Hero */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 78px);
  width: 100%;
}

.hero-container-secondary {
  margin-top: -20vh;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(45,55,72,0.5), rgba(45,55,72,0.5)),url(https://source.unsplash.com/Lq6rcifGjOU/1920x1080);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  text-align: center;
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 20%);;
}

.hero-title {
  font-size: 6rem;
}

.hero-subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* Navbar */

.navbar-dark .navbar-brand {
  font-weight: 700;
  font-size: 2rem;
}

.navbar {
  border-top: 0.25rem solid var(--teal);
}

.navbar-dark .navbar-toggler {
  color: transparent;
  border: 0;
}

.nav-item {
  padding: 0.5rem 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .75);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.25rem 0 !important;
  transition: 0.3s all ease-out;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

/* Modal */

.modal {
  padding-top: calc(98px + 10px);
}

/* Quant Arrow */

.quant-arrow {
  width: 90%;
  height: auto;
  padding: 0 0 0 10px;
  margin-left: 0.5vw;
}

@media (max-width: 768px) {
  .quant-arrow {
    width: auto;
    height: 150px;
    padding: 20px 0;
    transform: rotate(90deg);
  }
}

/* Results */

.results {
  font-size: 1.4rem;
}

/* Hover.css - https://github.com/IanLunn/Hover */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--teal);
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Swup - https://github.com/swup/swup */

.transition-fade {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1),
              transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-15%);
  transition: opacity 0.3s cubic-bezier(0.35, 0.055, 0.675, 0.19),
              transform 0.3s cubic-bezier(0.35, 0.055, 0.675, 0.19);
}

/*Scatterplot circles */
.brushed {
    opacity: 0.5;
}

.non_brushed {
    opacity: 1.0;
}