{% extends "layouts/default.html" %}
{% block content %}

    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Movie Posters Visualization</h2>
          <p>
            Some text will go in here about the project and the visualizations.  Below we can show 3 random posters every time that a user loads the page.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img src="https://source.unsplash.com/NodtnCsLdTE/1280x720"
          class="img-fluid">
        </div>
        <div class="col-sm-4">
          <img src="https://source.unsplash.com/NodtnCsLdTE/1280x720"
          class="img-fluid">
        </div>
        <div class="col-sm-4">
          <img src="https://source.unsplash.com/NodtnCsLdTE/1280x720"
          class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr class="hr-dotted">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3>Statistics</h3>
            <div class ="row">
                <div class = "col">
                    <svg width="300" height="125" id="moviesAnalyzed"></svg>
                </div>
            </div>
            <div class ="row">
                <div class = "col">
                    <svg width="300" height="125" id="dominantColors"></svg>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
          <h3>Dominant Colors</h3>
            <svg width="600" height="300" id="barChart"></svg>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h3>Effects of movie poster dominant color on potential movie income</h3>
            
            <svg width="900" height="500" id="moviePlot"></svg>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Sunburst Chart</h3>
          <h5>This is a placeholder for now</h5>
            <svg width="900" height="500" id="sunburstChart"></svg>
        </div>
      </div>
    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/static/js/barChart.js"></script>
    <script src="/static/js/moviePlot1.js"></script>
    <script src="/static/js/sunburstChart.js"></script>
    <!--<script type="/static/js/total_Movies"></script>-->
{% endblock %}