{% extends "layouts/default.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Upload Image</h2>
      <p>Test drive our algorithm by uploading your own image.</p>
      <form>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="poster">
            <label id="posterLabel" class="custom-file-label" for="moviePoster">upload poster...</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}